@import '../../styles/colors.scss';

.ticket {
  box-sizing: border-box;
  height: 184px;
  width: 502px;
  border-radius: 5px;
  background-color: $back-white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 26px 20px 20px 20px;
  cursor: pointer;
  box-shadow: 0 0 6px $shadow;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ticket-price {
  font-size: 20px;
  color: $main-blue;
  font-weight: 900;
}

.ticket-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8px;
}

.up-cell {
  color: $light-text;
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px;
}

.down-cell {
  color: $dark-text;
  font-weight: 600;
  font-size: 14px;
  padding: 0 5px;
}
