$main-blue: #2196f3;
$hover-blue: #78bbf1;
$hover-light-blue: #f1fcff;
$dark-text: #4a4a4a;
$light-text: #a0b0b9;
$back-white: #ffffff;
$back-blue: #f3f7fa;
$border: #dfe5ec;
$shadow: rgba(117, 115, 115, 0.2);
$error-background: tomato;
$error-border: rgb(218, 56, 27);
