@import '../../styles/colors.scss';

.ticket-sorting {
  box-sizing: border-box;
  height: 50px;
  min-width: 380px;
  display: flex;
  flex-wrap: nowrap;
  line-height: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  box-shadow: 0 0 6px $shadow;

  display: flex;
  justify-content: center;

  .ticket-sorting_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
  }

  .ticket-sorting_li {
    min-width: 70px;
    min-height: 50px;
  }

  .ticket-sorting_label {
    display: block;
    min-width: 70px;
    padding: 8px 15px 15px 15px;
    height: 100%;
    box-sizing: border-box;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;
    background-color: $back-white;
    font-size: 12px;
    font-weight: 900;
    color: $dark-text;
    text-align: center;
    cursor: pointer;
  }

  .transfer-sorting_checkbox:checked + label {
    background-color: $main-blue;
    border: $main-blue;
    color: $back-white;
  }

  .transfer-sorting_checkbox:hover + label {
    background-color: $hover-blue;
    border: $hover-blue;
    color: $back-white;
  }

  .ticket-sorting_label__left {
    display: block;
    min-width: 70px;
    padding: 8px 15px 15px 15px;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px $border;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $back-white;
    font-size: 12px;
    font-weight: 900;
    color: $dark-text;
    text-align: center;
    cursor: pointer;
  }

  .ticket-sorting_label__right {
    display: block;
    min-width: 70px;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px $border;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $back-white;
    font-size: 12px;
    font-weight: 900;
    color: $dark-text;
    text-align: center;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .ticket-sorting {
    min-width: 502px;
  }

  .ticket-sorting_li {
    width: 168px;
  }

  .ticket-sorting_label__left,
  .ticket-sorting_label__right,
  .ticket-sorting_label {
    padding: 15px;
  }
}
